<!DOCTYPE html>
<html lang="es">
<head>
    <title>Challenge Abraham Movies DH</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
</head>
<body>
    <div class="contenedor-general">
        <header>                
            <div>            
            <a href="/">Regresar</a>
            </div>                                
        </header>
        <div>
            <div>
                <div>
                    <a href="/login"><p>Iniciar Sesion</p></a>
                </div>
                <div class="marco">
                    <p>Crear Cuenta</p>
                </div>
            </div>
            <section>
                <form action="/register" method="POST">
                    <label for="name">Name</label>
                    <p><input type="text" name="name" id="" required></p>
                    <label for="email">Email</label>
                    <p><input type="email" name="email" id="" required> </p>
                    <label for="password">Password</label>
                    <p><input type="password" name="password" id="" required></p>
                    <br>
                    <p> 
                        <button type="submit">Registrar</button> 
                    </p>
                </form>
            </section>
        </div>
    </div>
</body>
</html>