<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Challenge Abraham Movies DH</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <style>
        .text-danger{
            color: red;
            margin-bottom: 5px;
            font-size: 15px;
        }
        </style>
    </head>
    <body>
        <h1>Registrar Usuario</h1>
        <br>
        <section>
            <form action="/user/register" method="POST">
                <label for="name">Nombre </label>
                <p><input type="text" name="name" id="" required></p>
                <% if(locals.errors && errors.name) {%>
                    <div class="text-danger">
                        <%= errors.name.msg %>
                    </div>
                <% } %>
                <label for="email">Correo </label>
                <p><input type="email" name="email" id="" required> </p>
                <% if(locals.errors && errors.email) {%>
                    <div class="text-danger">
                        <%= errors.email.msg %>
                    </div>
                <% } %>
                <label for="password">Contraseña </label>
                <p><input type="password" name="password" id="" required></p>
                <% if(locals.errors && errors.password) {%>
                    <div class="text-danger">
                        <%= errors.password.msg %>
                    </div>
                <% } %>
                <br>
                <p> 
                    <button type="submit">Registrar</button> 
                </p>
                <a href="/">Regresar</a>
            </form>
        </section>
    </body>
</html>